.badge-generator

	h2 Badge Generator

	form

		.flex.country-selection
			label(for="input-country-select") Country
			select#input-country-select(name="country" data-default="")
				each key in Object.keys(countryNames).sort()
					option(value=key disabled=(key==="Portugal"))= key

		h4 Options

		.option.flex
			label(for="input-heart") Use Heart (❤)
			input#input-heart(type="checkbox" name="heart" data-default="false")

		.option.flex
			label(for="input-colorA") Color A
			input#input-colorA(type="color" name="colorA" data-default="#555555" value="#555555")

		.option.flex
			label(for="input-colorB") Color B
			input#input-colorB(type="color" name="colorB" data-default="#dc3545" value="#dc3545")

		.option.flex
			label( for="input-template") Template
			select#input-template(name="template" value="flat" data-default="flat")
				each template in ["flat", "flat-square", "for-the-badge", "plastic", "social"]
					option(value=template)= template.split('-').join(' ')

		.option.flex
			label(for="input-text") Custom text
			input#input-text(type="text" name="text" placeholder="Custom text" data-default="")

	h3 Your Badge

	h4 SVG

	.svg
		img#output-svg(alt="Generated badge")

	.output.flex
		h4 URL
		.copy-btn(data-clipboard-target="#output-url") COPY

	.code
		pre#output-url

	.output.flex
		h4 HTML
		.copy-btn(data-clipboard-target="#output-html") COPY

	.code
		pre#output-html

	.output.flex
		h4 Markdown
		.copy-btn(data-clipboard-target="#output-md") COPY

	.code
		pre#output-md

	.output.flex
		h4 reStructuredText
		.copy-btn(data-clipboard-target="#output-rst") COPY

	.code
		pre#output-rst
