.badge-generator
	border-radius 7px
	padding 20px
	border 2px solid #e6e6e6

	h2
		font-size 24px
		color #222
		margin-bottom 20px

	h3
		margin 20px 0
		font-size 22px
		color #222

	h4
		margin 10px 0
		font-size 19px
		color #333

	.country-selection
		justify-content flex-start

		h4
			margin-right 10px

	.options
		margin-left 20px
		width 100%
		max-width 320px
		.option
			justify-content space-between
			margin 5px 0

			select
				text-transform capitalize

	.svg
		width 100%
		overflow-x auto

		img
			vertical-align top

	.output
			justify-content flex-start

			.copy-btn
				cursor pointer
				margin-left 10px
				padding 5px
				border-radius 5px
				font-size 12px
				color #888
				border 2px solid #aaa
				font-weight bold
				letter-spacing 1px

				&:hover
					color #666
					border-color #888

	.code
		background #e6e6e6
		width 100%
		border-radius 4px
		overflow-x auto

		pre
			padding 10px
			font-size 16px
